openapi: 3.1.0
info:
  title: FSVoip app API
  version: "1.0.0"
  summary: The platform API the FSVoip apps (iOS now, Android later) use to pair a phone with a PBX extension.
  description: |
    Platform-neutral contract of the FullStack Studio `voip-app` API, **v1**. The iOS and Android apps
    share this file and the fixtures in `shared/fixtures/`; each app has contract tests that decode them.

    Conventions (apply to every route):

    - JSON, `camelCase`, error codes in English. Every response carries `Cache-Control: no-store`.
    - The device token (`fss_vapp_...`) is sent **only** as `Authorization: Bearer <token>`, never in a query string.
    - Additive changes only: clients must ignore unknown response fields. Requests are strict: an unknown
      request field is a `400 invalid_request`.
    - A `401 unauthorized` on a device-token route means the pairing was revoked (portal, admin, or
      another phone took over the extension): the app removes the account.
    - The SIP password is returned **exactly once**, in the `201` response of `POST /pair`. FullStack
      Studio does not store it. `GET /me` never contains it.

    Not documented here on purpose: `POST /push/ring` (PBX to server, HMAC-signed, internal).
  license:
    name: AGPL-3.0-or-later
    identifier: AGPL-3.0-or-later
servers:
  - url: https://fullstackstudio.nl/api/voip-app/v1
    description: Production
tags:
  - name: pairing
    description: Exchange a one-time pairing token for a device token and SIP credentials.
  - name: account
    description: The paired account, internal contacts, push registration, the own extension (`/me/extension`).
  - name: pbx
    description: 'Manage the PBX from the app ("Centrale"): extensions, ring groups, opening hours, numbers as a chain, sounds, inviting a colleague. Admin pairings only.'
  - name: calls
    description: Calls, call recordings, voicemail and parked calls.
  - name: contacts
    description: The customer's address book and contact lists.
paths:
  /pair:
    post:
      tags: [pairing]
      operationId: pair
      summary: Exchange a pairing token (QR or deep link) for a device token and the SIP credentials.
      description: |
        The pairing token comes from the QR code / universal link
        `https://fullstackstudio.nl/fsvoip/pair?t=<token>` (or `fsvoip://pair?t=<token>`). It is single use
        and valid for 10 minutes. Rate limit: 20 per hour per IP.

        An unknown, expired, used or malformed token is one neutral `404 not_found`. If the PBX could not
        issue a new SIP password right now the response is `503` with `retryable: true` and the token is
        **not** consumed: try again.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PairRequest"
      responses:
        "201":
          description: Paired. Contains the SIP password; store it in the Keychain/Keystore only.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PairResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /me:
    get:
      tags: [account]
      operationId: getMe
      summary: Labels, internal contacts and the SIP server of this account (no password).
      security:
        - deviceToken: []
      responses:
        "200":
          description: The account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
    patch:
      tags: [account]
      operationId: patchMe
      summary: Set or clear the alias (label override) of this account.
      security:
        - deviceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MePatchRequest"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MePatchResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
  /push-token:
    put:
      tags: [account]
      operationId: putPushToken
      summary: Register or replace the push token of this installation; send no token to unregister.
      description: |
        iOS sends the PushKit (VoIP) token as `pushToken` with `pushKind: apns_voip`, and the regular APNs
        token as `alertPushToken` (used for "account removed" notices; a PushKit token can only receive
        VoIP pushes). A new token clears an earlier "invalid" mark. Android uses `pushKind: fcm`.
      security:
        - deviceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushTokenUpdate"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
  /unpair:
    post:
      tags: [account]
      operationId: unpair
      summary: The app removes itself. The device token dies and the SIP password is renewed on the PBX.
      security:
        - deviceToken: []
      responses:
        "200":
          description: Unpaired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /me/extension:
    get:
      tags: [account]
      operationId: getMeExtension
      summary: The own extension - do not disturb, forwarding, voicemail - for every role.
      description: |
        The extension comes from the pairing, never from the request. Besides the settings the answer lists the numbers of the PBX
        (`isDefault` = the default number of the PBX; `defaultNumber` = the number this extension calls out with by default, see
        "Caller choice header" in `shared/README.md`) and the targets a call may be forwarded to (a colleague, a ring group, a
        voicemail box or an external number; never the extension itself). Also readable while the PBX is frozen.
      security:
        - deviceToken: []
      responses:
        "200":
          description: The own extension.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelfExtension"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
    patch:
      tags: [account]
      operationId: patchMeExtension
      summary: Change settings of the own extension.
      description: |
        Only the keys of `SelfExtensionPatch` (everything else that exists on an extension, for example `suspended` or `recordCalls`, is
        `403 forbidden` with the `field`; a key that does not exist is `400 invalid_request`). `version` is required: another version is
        `409 stale` with the current `version`. The number to call out with is not a setting: the app chooses it per call. Writes: 60 per
        10 minutes per device.
      security:
        - deviceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SelfExtensionPatch"
      responses:
        "200":
          description: "Saved. `extension` is the fresh state (best effort: absent when it could not be read right now)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelfExtensionPatchResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          $ref: "#/components/responses/BlockedDestination"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/overview:
    get:
      tags: [pbx]
      operationId: getPbxOverview
      summary: The call flow per number plus the counters (admin pairings only).
      description: |
        All `/pbx/*` routes need `role: admin` (`GET /me`). A `user` pairing gets `403 forbidden` before anything is loaded.
        The PBX is always the one of this pairing; no id in a URL can point at another PBX (that is `404 not_found`).
      security:
        - deviceToken: []
      responses:
        "200":
          description: The overview.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PbxOverview"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/devices:
    get:
      tags: [pbx]
      operationId: getPbxDevices
      summary: The extensions with their settings, and everything a call can be forwarded to.
      security:
        - deviceToken: []
      responses:
        "200":
          description: The extensions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PbxDevices"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/devices/{id}:
    patch:
      tags: [pbx]
      operationId: patchPbxDevice
      summary: Change settings of one extension.
      description: |
        `version` (from `GET /pbx/devices`) is required: another version is `409 stale` with the current `version`. Name, e-mail,
        recording, suspending and sounds are not changeable here (they stay in the portal). Writes: 60 per 10 minutes per device.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PbxDevicePatch"
      responses:
        "200":
          description: "Saved. The PBX is updated in the background (`sync: pending` until then)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          $ref: "#/components/responses/BlockedDestination"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/ring-groups:
    get:
      tags: [pbx]
      operationId: getPbxRingGroups
      summary: The ring groups, the extensions that can join and the forwarding choices.
      security:
        - deviceToken: []
      responses:
        "200":
          description: The ring groups.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PbxRingGroups"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
    post:
      tags: [pbx]
      operationId: createPbxRingGroup
      summary: Create a ring group.
      security:
        - deviceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PbxRingGroupCreate"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PbxRingGroupCreated"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          $ref: "#/components/responses/BlockedDestination"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/ring-groups/{id}:
    patch:
      tags: [pbx]
      operationId: patchPbxRingGroup
      summary: Change a ring group (`version` required).
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PbxRingGroupPatch"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          $ref: "#/components/responses/BlockedDestination"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/hours:
    get:
      tags: [pbx]
      operationId: getPbxHours
      summary: The opening hours, forwarding choices and the fixed holidays.
      security:
        - deviceToken: []
      responses:
        "200":
          description: The opening hours.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PbxHours"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/hours/{id}:
    patch:
      tags: [pbx]
      operationId: patchPbxHours
      summary: Change week, targets and holidays of opening hours (`version` required; the name stays in the portal).
      description: "`week` and `holidays` REPLACE the whole list: send the existing entries along to keep them."
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PbxHoursPatch"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          $ref: "#/components/responses/BlockedDestination"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/numbers/{id}/routing:
    patch:
      tags: [pbx]
      operationId: patchPbxNumberRouting
      summary: "Where callers of one number go (`target: null` = the start of the flow)."
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PbxRoutingPatch"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          $ref: "#/components/responses/BlockedDestination"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/numbers:
    get:
      tags: [pbx]
      operationId: getPbxNumbers
      summary: The numbers of the PBX with a one-line summary of their chain (admin only).
      description: |
        `mode: advanced` = the flow behind the number is more than the app can show as a chain (opening hours, welcome message, forwarding):
        it is shown read-only and only the name can be changed.
      security:
        - deviceToken: []
      responses:
        "200":
          description: The numbers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PbxNumbersPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/numbers/{id}/chain:
    get:
      tags: [pbx]
      operationId: getPbxNumberChain
      summary: One number as a chain - opening hours, welcome message, forwarding - plus recording and the choices (admin only).
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      responses:
        "200":
          description: The chain.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NumberChain"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/numbers/{id}/chain/{step}:
    put:
      tags: [pbx]
      operationId: putPbxNumberChainStep
      summary: Change one step of the chain of a number (admin only).
      description: |
        `step` is `name`, `hours`, `welcome`, `forwarding` or `closed` (any other step is `404 not_found`). The body is strict: only the keys
        of that step (`ChainStepRequest`) plus `versions` (`{ <objectId>: version }`, the versions the chain showed) and `numberVersion`;
        left out = the server reads them itself. A left-out `Fallback` field stays as it was. A `Fallback` with `mode: other` is `400`
        (it is read-only). Nothing is ever deleted: switching a step "off" only unlinks it. Writes: 60 per 10 minutes per device.

        Answers with the fresh `NumberChain`. `409 stale` carries the fresh chain in `chain` (keep the typed values, show the new
        state); `409 advanced` = the flow is too complex for the chain; `400 invalid_request` with `code` (for example
        `greeting_required`: a welcome message needs a sound); `422 blocked_destination`; `409 read_only`.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
        - name: step
          in: path
          required: true
          schema:
            type: string
            enum: [name, hours, welcome, forwarding, closed]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChainStepRequest"
      responses:
        "200":
          description: "Saved. The PBX is updated in the background (`sync: pending` until then)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NumberChain"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          $ref: "#/components/responses/BlockedDestination"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/numbers/{id}/recording:
    patch:
      tags: [pbx]
      operationId: patchPbxNumberRecording
      summary: Switch call recording of a number on or off (admin only).
      description: |
        Recording is paid per number per month. When it costs something and `costAccepted` is not `true` the answer is
        `422 cost_not_accepted` with the `cost` (the price per number per month; `vatIncluded` says whether `priceE4` includes VAT):
        show it and send the request again with `costAccepted: true`. The optional announcement is a sound of the PBX; it is only played
        to inbound callers. Answers with the fresh `NumberChain`.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NumberRecordingPatch"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NumberChain"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          description: "`cost_not_accepted`: the recording costs money and was not accepted yet; `cost` holds the price."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/sounds:
    get:
      tags: [pbx]
      operationId: getPbxSounds
      summary: The sounds of the PBX - welcome messages, music, greetings (admin only).
      security:
        - deviceToken: []
      responses:
        "200":
          description: The sounds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoundsPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
    post:
      tags: [pbx]
      operationId: uploadPbxSound
      summary: Upload a sound (admin only).
      description: |
        `multipart/form-data` with exactly two parts, `name` and `file` (any other part, a repeated part or a `chunked` body is `400`).
        The type is read from the first bytes of the file (WAV, MP3 or M4A), never from the file name or the content type of the part. Up
        to 20 MB; a bigger body is `413 too_large` without being read. `400 invalid_audio` = not a supported audio file; `409 too_many` =
        the PBX has the maximum number of sounds. Uploads: 20 per hour per device.
      security:
        - deviceToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [name, file]
              properties:
                name:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Uploaded. The PBX learns the sound in the background.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoundUploadResponse"
        "400":
          description: "`invalid_audio` (not a supported audio file) or another `invalid_request`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          description: "`too_large`: the file is above 20 MB."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/sounds/{id}:
    patch:
      tags: [pbx]
      operationId: renamePbxSound
      summary: Rename a sound (admin only).
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SoundRenameRequest"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
    delete:
      tags: [pbx]
      operationId: deletePbxSound
      summary: Delete a sound (admin only).
      description: "`409 in_use` with `places` while the sound is still used (a welcome message, a menu, closed message, ...): nothing is deleted."
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/sounds/{id}/audio:
    get:
      tags: [pbx]
      operationId: getPbxSoundAudio
      summary: The audio of a sound (admin only). Supports `Range` (206/416) and `HEAD`.
      description: |
        Only with `Authorization: Bearer`. A sound uploaded before this feature has no playable copy (`playable: false`): `404`. Playing
        counts in the media limit (60 per minute per device). Errors are JSON, also on this route.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
        - name: Range
          in: header
          schema:
            type: string
      responses:
        "200":
          description: The audio.
          content:
            audio/*:
              schema:
                type: string
                format: binary
        "206":
          description: A part of the audio.
          content:
            audio/*:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "416":
          description: The range does not fit the audio.
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /pbx/devices/{id}/app-pairing:
    post:
      tags: [pbx]
      operationId: createPbxDeviceAppPairing
      summary: A pairing link for a colleague's extension (admin only).
      description: |
        Invites a colleague: the link pairs FSVoip on their phone with the extension `id` with role `user`. The role is always `user`
        and never comes from the request, so the body must be empty (or `{}`); any key, `role` included, is `400`. The link is a
        credential: show it once, never log it. It is valid for 10 minutes and can be used once. You cannot invite the extension of this
        pairing (`409 conflict`: it would replace this very app). 10 links per hour per PBX.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        "200":
          description: The link.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppPairingResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /calls:
    get:
      tags: [calls]
      operationId: getCalls
      summary: The calls of one month.
      description: |
        `admin`: all calls of the PBX, with `hasRecording`. `user`: all calls of the PBX too (the team history; `extension` and
        `extensionName` say who answered or made the call), but never a recording (`hasRecording` is always `false`, `recordingExpired`
        is absent). A server from before the team history (`capabilities.calls: own`) only sends the own extension's calls.
      security:
        - deviceToken: []
      parameters:
        - name: month
          in: query
          schema:
            type: string
            pattern: "^\\d{4}-\\d{2}$"
          description: "`YYYY-MM`; default the current month."
        - $ref: "#/components/parameters/Locale"
      responses:
        "200":
          description: The calls.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallsPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /calls/park:
    post:
      tags: [calls]
      operationId: parkCall
      summary: Park the own running call (every role).
      description: |
        `callId` is the SIP `Call-ID` of the leg of the app (the app reads it from its own call). Which extension parks comes from the
        pairing, never from the request: another extension's Call-ID is `404 call_not_found`. The call is put on hold in a numbered slot;
        anyone dials `retrieveNumber` (`*59NN`) as a normal call to pick it up. After the park time-out it rings back at the extension.

        `409 no_free_slot`, `409 park_unavailable` (the PBX cannot park: module too old or not loaded; `capabilities.park` is `false`),
        `409 park_busy`. 🚨 `503 park_uncertain`: the PBX failed while parking and the call **may be parked**. Never park again: refresh
        `GET /parked` and look. 30 per 10 minutes per device (with `DELETE /parked/{id}`).
      security:
        - deviceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParkRequest"
      responses:
        "201":
          description: Parked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParkedCall"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: "`call_not_found`: no running call of this extension has that Call-ID."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "`no_free_slot`, `park_unavailable`, `park_busy` or `read_only` (the PBX is frozen)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: "`park_uncertain` (the call may be parked: refresh the list, never retry) or another temporary problem (`unavailable`)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /parked:
    get:
      tags: [calls]
      operationId: getParkedCalls
      summary: The calls parked on the PBX (every role).
      description: |
        At most 3 seconds old. `available: false` = parking does not work on this PBX right now (hide the section). `mine` = parked by
        this extension. `parkedBy` is `null` when the call was parked outside FullStack Studio.
      security:
        - deviceToken: []
      responses:
        "200":
          description: The parked calls.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParkedCallsPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /parked/{id}:
    delete:
      tags: [calls]
      operationId: hangupParkedCall
      summary: Hang up a parked call.
      description: "`user`: only a call that is `mine` (else `403 forbidden`); `admin`: every parked call of the PBX. The `id` is the opaque `id` of `GET /parked`."
      security:
        - deviceToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^[A-Za-z0-9_-]{1,120}$"
      responses:
        "200":
          description: Hung up.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /calls/{id}/recording:
    get:
      tags: [calls]
      operationId: getCallRecording
      summary: The audio of a recording (admin only). Supports `Range` (206/416) and `HEAD`.
      description: |
        Only with `Authorization: Bearer` (a token in a query string does not count). iOS: `AVURLAsset` with
        `AVURLAssetHTTPHeaderFieldsKey`. `410 gone` = the recording is past its retention period. Playing counts in the media
        limit (60 per minute per device), not in the token limit.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
        - name: Range
          in: header
          schema:
            type: string
      responses:
        "200":
          description: The audio.
          content:
            audio/*:
              schema:
                type: string
                format: binary
        "206":
          description: A part of the audio.
          content:
            audio/*:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "410":
          $ref: "#/components/responses/Gone"
        "416":
          description: The range does not fit the audio.
        "429":
          $ref: "#/components/responses/RateLimited"
  /voicemail:
    get:
      tags: [calls]
      operationId: getVoicemail
      summary: Voicemail messages and the boxes.
      description: |
        `admin`: every box of the PBX (`box` filters on one). `user`: only the own box (box id = id of the own extension); another
        box is `403 forbidden`. `available: false` = the PBX did not answer: show a notice, not an empty list.
      security:
        - deviceToken: []
      parameters:
        - name: box
          in: query
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Locale"
      responses:
        "200":
          description: The messages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoicemailPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /voicemail/{boxId}/{ref}:
    delete:
      tags: [calls]
      operationId: deleteVoicemail
      summary: Delete one message (a `user` only from the own box).
      security:
        - deviceToken: []
      parameters:
        - name: boxId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/VoicemailRef"
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
  /voicemail/{boxId}/{ref}/audio:
    get:
      tags: [calls]
      operationId: getVoicemailAudio
      summary: The audio of one message. Supports `Range` (206/416) and `HEAD`; Bearer header only.
      security:
        - deviceToken: []
      parameters:
        - name: boxId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/VoicemailRef"
        - name: Range
          in: header
          schema:
            type: string
      responses:
        "200":
          description: The audio.
          content:
            audio/*:
              schema:
                type: string
                format: binary
        "206":
          description: A part of the audio.
          content:
            audio/*:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "410":
          $ref: "#/components/responses/Gone"
        "416":
          description: The range does not fit the audio.
        "429":
          $ref: "#/components/responses/RateLimited"
  /contacts:
    get:
      tags: [contacts]
      operationId: getContacts
      summary: Sync the customer's contacts (everything, or what changed since).
      description: |
        Without `since`: the complete set. With `since`: the changed contacts plus the ids deleted in the period.

        Pages follow `nextCursor`. Every page of one run carries the SAME `serverTime`; the app stores it as the next `since` only
        after the last page (`nextCursor: null`). The server subtracts 120 s from `since` (overlap), so a contact can arrive twice:
        upsert on `id`. A `since` older than 90 days is `400 invalid_request` with `code: "resync"`: do a full sync and drop what
        is not in it.
      security:
        - deviceToken: []
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 500
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        "200":
          description: A page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsPage"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
    post:
      tags: [contacts]
      operationId: createContact
      summary: Add a contact (every pairing may).
      security:
        - deviceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreateRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactDetailResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /contacts/lookup:
    get:
      tags: [contacts]
      operationId: lookupContactByNumber
      summary: Who is calling? The contact of this customer with that number, with context.
      description: |
        The customer card of an incoming call (rate limit 120/min per device). Only the contacts of the customer of this device are
        searched. Unknown, suppressed (privacy) and ambiguous (several contacts on one number) are all `200` with `contact: null`
        (`ambiguous: true` only for the last). `counters` count what is open on the website of the customer; `timeline` holds the last
        10 lines (a title and an optional summary, never event data). The app waits at most one second for this answer on an incoming
        call and shows nothing when it is not in time.
      security:
        - deviceToken: []
      parameters:
        - name: number
          in: query
          required: true
          schema:
            type: string
            maxLength: 40
      responses:
        "200":
          description: The lookup.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactLookup"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /contacts/{id}/timeline:
    get:
      tags: [contacts]
      operationId: getContactTimeline
      summary: The timeline of one contact of this customer, newest first.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: A page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactTimelinePage"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /contacts/{id}:
    get:
      tags: [contacts]
      operationId: getContact
      summary: One contact with notes and lists.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      responses:
        "200":
          description: The contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    patch:
      tags: [contacts]
      operationId: updateContact
      summary: Change a contact (every pairing may).
      description: |
        `expectedUpdatedAt` is REQUIRED: the `updatedAt` the app showed. Another value is `409 stale`. `null` for a text field wipes it;
        a left-out key is unchanged; `phones`, `tags` and `listIds` replace the whole set.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUpdateRequest"
      responses:
        "200":
          description: "Saved (`changed: false` = nothing was different)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactUpdateResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
    delete:
      tags: [contacts]
      operationId: deleteContact
      summary: Delete a contact for good (admin pairings only).
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactDeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /contact-lists:
    get:
      tags: [contacts]
      operationId: getContactLists
      summary: The contact lists with their version.
      security:
        - deviceToken: []
      responses:
        "200":
          description: The lists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactLists"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /contact-lists/{id}/contacts:
    get:
      tags: [contacts]
      operationId: getContactListSnapshot
      summary: The snapshot of one list, with its version as `ETag`.
      description: |
        `If-None-Match` equal to the current version (exact, `W/`, a list, or `*`) answers `304` with the `ETag` and no body. Lists above
        500 contacts come in pages via `cursor`; the cursor carries the version, and a version change halfway is `409 stale`
        (start again). `If-None-Match` is ignored on a cursor page.
      security:
        - deviceToken: []
      parameters:
        - $ref: "#/components/parameters/ObjectId"
        - name: cursor
          in: query
          schema:
            type: string
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        "200":
          description: The snapshot.
          headers:
            ETag:
              schema:
                type: string
              description: The list version in quotes, e.g. `"3"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactListSnapshot"
        "304":
          description: Unchanged since `If-None-Match`.
          headers:
            ETag:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  parameters:
    ObjectId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    VoicemailRef:
      name: ref
      in: path
      required: true
      schema:
        type: string
      description: The sealed `ref` of a voicemail message.
    Locale:
      name: locale
      in: query
      schema:
        type: string
        enum: [nl, en]
      description: Language of the labels and country names; default from `Accept-Language`, then Dutch.
  securitySchemes:
    deviceToken:
      type: http
      scheme: bearer
      bearerFormat: "fss_vapp_<43 base64url characters>"
      description: Device token returned by `POST /pair`. Only valid in the `Authorization` header.
  schemas:
    Role:
      type: string
      enum: [user, admin]
      description: |
        `admin` = this pairing may manage the PBX from the app (chosen in the portal when the code is made, changeable later; a
        change sends a `refresh` push). Anything else counts as `user`. Absent in the answer of a server from before roles existed.
    Capabilities:
      type: object
      description: |
        What the app may show for the role. Informational; the server enforces every route. All fields are additive: a server from before
        a field existed leaves it out, and a client reads a missing or unknown value as the restrictive choice.
      properties:
        pbxManage:
          type: boolean
        recordings:
          type: boolean
        voicemail:
          type: string
          enum: [all, own, none]
        calls:
          type: string
          enum: [all, team, own]
          description: |
            `all` = every call of the PBX with recordings (admin); `team` = every call of the PBX without recordings (`user`; `extension` /
            `extensionName` say who answered); `own` = only the calls of the own extension (a server from before `team`).
        contacts:
          type: object
          properties:
            read:
              type: boolean
            write:
              type: boolean
            delete:
              type: boolean
        selfExtension:
          type: boolean
          description: "`GET`/`PATCH /me/extension` is available (every role)."
        sounds:
          type: string
          enum: [manage, none]
          description: "`manage` = the sounds routes (`/pbx/sounds/**`) are open (admin)."
        invite:
          type: boolean
          description: "`POST /pbx/devices/{id}/app-pairing` is open: the admin may invite a colleague."
        park:
          type: boolean
          description: |
            Parking works on this PBX (last known state; no PBX call). `false` = do not show the park button or the "On hold" tab.
        callerChoice:
          type: boolean
          description: |
            The PBX understands the `X-FSS-From` header and has two or more numbers (last known state). Only then may the app choose the
            number to call out with, see "Caller choice header" in `shared/README.md`. `false` = never send the header.
    PbxState:
      type: string
      enum: [active, frozen, setup, error]
    PbxStatus:
      type: object
      required: [name, state, readOnly]
      properties:
        name:
          type: string
        state:
          $ref: "#/components/schemas/PbxState"
        readOnly:
          type: boolean
          description: "Frozen, still being set up or in an error state: every `/pbx/*` change answers `409 read_only`."
    SyncState:
      type: string
      enum: [ok, pending, error]
      description: "`pending` = the PBX does not run the latest settings yet (\"wordt bijgewerkt\"); `error` = it did not work."
    TargetType:
      type: string
      enum: [extension, ring_group, queue, ivr, business_hours, voicemail, recording, hangup, external]
    Target:
      type: object
      additionalProperties: false
      required: [type]
      properties:
        type:
          $ref: "#/components/schemas/TargetType"
        id:
          type: string
          format: uuid
          description: An object of this PBX (never a PBX uuid). Not for `hangup` and `external`.
        number:
          type: string
          description: "`external` only."
    TargetOption:
      type: object
      required: [value, type, name]
      description: A choice for "where does the call go".
      properties:
        value:
          type: string
          description: "`type:id`, `external` or `none`."
        type:
          $ref: "#/components/schemas/TargetType"
        id:
          type: ["string", "null"]
        name:
          type: string
        extension:
          type: ["string", "null"]
        ofDevice:
          type: boolean
          description: The voicemail of an extension (as opposed to a shared mailbox).
    NumberRef:
      type: object
      required: [id, number]
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
    FlowWhen:
      type: object
      required: [kind]
      properties:
        kind:
          type: string
          enum: [open, closed, no_answer, busy, timeout, key, no_choice, forward_always]
        seconds:
          type: integer
        digit:
          type: string
    FlowBranch:
      type: object
      required: [when, node]
      properties:
        when:
          $ref: "#/components/schemas/FlowWhen"
        node:
          $ref: "#/components/schemas/FlowNode"
    FlowNode:
      type: object
      required: [kind]
      description: One step of the call flow of a number, as a tree.
      properties:
        kind:
          type: string
          enum: [extension, ring_group, queue, ivr, business_hours, voicemail, recording, hangup, external, missing, loop, none, more]
        id:
          type: ["string", "null"]
        name:
          type: ["string", "null"]
        extension:
          type: ["string", "null"]
        ofDevice:
          type: boolean
        number:
          type: ["string", "null"]
        dnd:
          type: boolean
        branches:
          type: array
          items:
            $ref: "#/components/schemas/FlowBranch"
    PbxNumber:
      type: object
      required: [id, number, version, sync]
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
          description: National, without country code.
        routing:
          oneOf:
            - $ref: "#/components/schemas/Target"
            - type: "null"
          description: "`null` = the start of the flow of the PBX."
        blockListId:
          type: ["string", "null"]
        isDefault:
          type: boolean
        version:
          type: integer
          minimum: 1
        sync:
          $ref: "#/components/schemas/SyncState"
        recordCalls:
          type: boolean
        recordAnnouncementSoundId:
          type: ["string", "null"]
        recordBillingActive:
          type: boolean
        flow:
          $ref: "#/components/schemas/FlowNode"
    PbxOverview:
      type: object
      required: [pbx, numbers, deviceCount, ringGroupCount, outboundBlocked]
      properties:
        pbx:
          $ref: "#/components/schemas/PbxStatus"
        numbers:
          type: array
          items:
            $ref: "#/components/schemas/PbxNumber"
        entryFlow:
          oneOf:
            - $ref: "#/components/schemas/FlowNode"
            - type: "null"
        deviceCount:
          type: integer
        connectedCount:
          type: ["integer", "null"]
          description: "`null` = the PBX did not answer."
        ringGroupCount:
          type: integer
        outboundBlocked:
          type: boolean
          description: Calling out is temporarily off (fraud guard or administrative hold).
    FollowMeStep:
      type: object
      additionalProperties: false
      required: [target]
      properties:
        target:
          $ref: "#/components/schemas/Target"
        delaySeconds:
          type: integer
          minimum: 0
          maximum: 120
        timeoutSeconds:
          type: integer
          minimum: 5
          maximum: 300
    PbxDevice:
      type: object
      required: [id, name, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        version:
          type: integer
          minimum: 1
        extension:
          type: ["string", "null"]
        email:
          type: ["string", "null"]
        voicemailEnabled:
          type: boolean
        voicemailToEmail:
          type: boolean
        voicemailAttachFile:
          type: boolean
        outboundNumberId:
          type: ["string", "null"]
        dnd:
          type: boolean
        suspended:
          type: boolean
        recordCalls:
          type: boolean
        noAnswerSeconds:
          type: integer
        noAnswerTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        busyTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        notRegisteredTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        forwardAlways:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        followMe:
          type: array
          items:
            $ref: "#/components/schemas/FollowMeStep"
        sync:
          $ref: "#/components/schemas/SyncState"
        registration:
          description: "`null` = unknown (the PBX did not answer)."
          oneOf:
            - type: object
              required: [connected, count]
              properties:
                connected:
                  type: boolean
                count:
                  type: integer
                agent:
                  type: ["string", "null"]
            - type: "null"
    PbxDevices:
      type: object
      required: [devices, targets, numbers]
      properties:
        devices:
          type: array
          items:
            $ref: "#/components/schemas/PbxDevice"
        targets:
          type: array
          items:
            $ref: "#/components/schemas/TargetOption"
        numbers:
          type: array
          items:
            $ref: "#/components/schemas/NumberRef"
    PbxDevicePatch:
      type: object
      additionalProperties: false
      required: [version]
      minProperties: 2
      properties:
        version:
          type: integer
          minimum: 1
        voicemailEnabled:
          type: boolean
        voicemailToEmail:
          type: boolean
        voicemailAttachFile:
          type: boolean
        outboundNumberId:
          type: ["string", "null"]
          description: "`null` = the first number of the PBX."
        dnd:
          type: boolean
        noAnswerSeconds:
          type: integer
          minimum: 5
          maximum: 120
        noAnswerTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        busyTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        notRegisteredTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        forwardAlways:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        followMe:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/FollowMeStep"
    RingGroupMember:
      type: object
      additionalProperties: false
      required: [extensionId]
      properties:
        extensionId:
          type: string
          format: uuid
        delaySeconds:
          type: integer
        timeoutSeconds:
          type: integer
    RingStrategy:
      type: string
      enum: [all, sequence, round]
      description: "`all` = everybody at once, `sequence` = one after the other, `round` = take turns."
    PbxRingGroup:
      type: object
      required: [id, name, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        version:
          type: integer
          minimum: 1
        extension:
          type: ["string", "null"]
        strategy:
          $ref: "#/components/schemas/RingStrategy"
        members:
          type: array
          items:
            $ref: "#/components/schemas/RingGroupMember"
        timeoutTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        sync:
          $ref: "#/components/schemas/SyncState"
    PbxRingGroups:
      type: object
      required: [ringGroups, devices, targets]
      properties:
        ringGroups:
          type: array
          items:
            $ref: "#/components/schemas/PbxRingGroup"
        devices:
          type: array
          items:
            type: object
            required: [id, name]
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              extension:
                type: ["string", "null"]
        targets:
          type: array
          items:
            $ref: "#/components/schemas/TargetOption"
    PbxRingGroupCreate:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name:
          type: string
        strategy:
          $ref: "#/components/schemas/RingStrategy"
        members:
          type: array
          maxItems: 50
          items:
            $ref: "#/components/schemas/RingGroupMember"
        timeoutTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
    PbxRingGroupPatch:
      type: object
      additionalProperties: false
      required: [version]
      minProperties: 2
      properties:
        version:
          type: integer
          minimum: 1
        name:
          type: string
        strategy:
          $ref: "#/components/schemas/RingStrategy"
        members:
          type: array
          maxItems: 50
          items:
            $ref: "#/components/schemas/RingGroupMember"
        timeoutTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
    PbxRingGroupCreated:
      type: object
      required: [ringGroupId]
      properties:
        ringGroupId:
          type: string
          format: uuid
    HoursWeekEntry:
      type: object
      additionalProperties: false
      required: [day, from, to]
      properties:
        day:
          type: integer
          minimum: 1
          maximum: 7
          description: 1 = Monday ... 7 = Sunday.
        from:
          type: string
          pattern: "^\\d{2}:\\d{2}$"
        to:
          type: string
          pattern: "^\\d{2}:\\d{2}$"
          description: "`24:00` = until midnight."
    PbxHoliday:
      type: object
      required: [name]
      properties:
        name:
          type: string
        date:
          type: ["string", "null"]
          description: "`YYYY-MM-DD` for an own date."
        rule:
          type: ["string", "null"]
          description: A fixed holiday (see `holidayRules`).
        target:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
    PbxHoursItem:
      type: object
      required: [id, name, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        extension:
          type: ["string", "null"]
        timezone:
          type: string
        week:
          type: array
          items:
            $ref: "#/components/schemas/HoursWeekEntry"
        openTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        closedTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        holidays:
          type: array
          items:
            $ref: "#/components/schemas/PbxHoliday"
        version:
          type: integer
          minimum: 1
        sync:
          $ref: "#/components/schemas/SyncState"
    PbxHours:
      type: object
      required: [hours, targets, holidayRules]
      properties:
        hours:
          type: array
          items:
            $ref: "#/components/schemas/PbxHoursItem"
        targets:
          type: array
          items:
            $ref: "#/components/schemas/TargetOption"
        holidayRules:
          type: array
          items:
            type: object
            required: [rule, label]
            properties:
              rule:
                type: string
              label:
                type: string
    HolidayInput:
      description: "A fixed holiday `{ rule }` or an own date `{ name, date }`."
      oneOf:
        - type: object
          additionalProperties: false
          required: [rule]
          properties:
            rule:
              type: string
        - type: object
          additionalProperties: false
          required: [name, date]
          properties:
            name:
              type: string
            date:
              type: string
              pattern: "^\\d{4}-\\d{2}-\\d{2}$"
    PbxHoursPatch:
      type: object
      additionalProperties: false
      required: [version]
      minProperties: 2
      properties:
        version:
          type: integer
          minimum: 1
        week:
          type: array
          maxItems: 28
          items:
            $ref: "#/components/schemas/HoursWeekEntry"
        openTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        closedTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        holidays:
          type: array
          items:
            $ref: "#/components/schemas/HolidayInput"
        holidayTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
          description: "What happens on a holiday; `null` = the same as outside opening hours."
    PbxRoutingPatch:
      type: object
      additionalProperties: false
      required: [target, version]
      properties:
        target:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        version:
          type: integer
          minimum: 1
    CallItem:
      type: object
      required: [id, direction, outcome, startedLabel, durationLabel, hasRecording]
      properties:
        id:
          type: string
          format: uuid
        direction:
          type: string
          enum: [inbound, outbound, internal]
        outcome:
          type: string
          enum: [answered, missed, voicemail, unknown]
        number:
          type: ["string", "null"]
        ourNumber:
          type: ["string", "null"]
        extension:
          type: ["string", "null"]
        extensionName:
          type: ["string", "null"]
        country:
          type: ["string", "null"]
        countryName:
          type: ["string", "null"]
        lineType:
          type: ["string", "null"]
          enum: [fixed, mobile, null]
        category:
          type: ["string", "null"]
          enum: [fixed, mobile, special, short, emergency, satellite, unknown, null]
        startedLabel:
          type: string
        startedSort:
          type: ["string", "null"]
          format: date-time
        durationLabel:
          type: string
        durationSeconds:
          type: ["integer", "null"]
        hasRecording:
          type: boolean
        recordingExpired:
          type: boolean
          description: Admin only; absent for a `user` pairing.
    CallsPage:
      type: object
      required: [month, months, calls, truncated]
      properties:
        month:
          type: string
          pattern: "^\\d{4}-\\d{2}$"
        months:
          type: array
          items:
            type: string
        calls:
          type: array
          items:
            $ref: "#/components/schemas/CallItem"
        truncated:
          type: boolean
    VoicemailBox:
      type: object
      required: [id, name, shared]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        number:
          type: ["string", "null"]
        shared:
          type: boolean
    VoicemailMessage:
      type: object
      required: [ref, boxId, receivedLabel, durationLabel, isNew]
      properties:
        ref:
          type: string
          description: A sealed reference for this PBX and box. Never the message id of the PBX.
        boxId:
          type: string
          format: uuid
        boxName:
          type: string
        boxNumber:
          type: ["string", "null"]
        caller:
          type: ["string", "null"]
        callerName:
          type: ["string", "null"]
        receivedLabel:
          type: string
        receivedSort:
          type: ["string", "null"]
          format: date-time
        durationLabel:
          type: string
        isNew:
          type: boolean
        transcription:
          type: ["string", "null"]
        daysLeft:
          type: ["integer", "null"]
    VoicemailPage:
      type: object
      required: [boxes, messages, available]
      properties:
        boxes:
          type: array
          items:
            $ref: "#/components/schemas/VoicemailBox"
        boxId:
          type: ["string", "null"]
        messages:
          type: array
          items:
            $ref: "#/components/schemas/VoicemailMessage"
        available:
          type: boolean
    ContactPhone:
      type: object
      additionalProperties: false
      required: [number]
      properties:
        number:
          type: string
        label:
          type: string
          enum: [mobile, work, home, main, fax, other]
        isPrimary:
          type: boolean
    ContactItem:
      type: object
      required: [id, name, phones, tags, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        firstName:
          type: ["string", "null"]
        lastName:
          type: ["string", "null"]
        company:
          type: ["string", "null"]
        email:
          type: ["string", "null"]
        phones:
          type: array
          items:
            $ref: "#/components/schemas/ContactPhone"
        tags:
          type: array
          items:
            type: string
        updatedAt:
          type: string
          description: Opaque timestamp (ISO 8601). Send it back unchanged as `expectedUpdatedAt`.
    ContactDetailItem:
      allOf:
        - $ref: "#/components/schemas/ContactItem"
        - type: object
          properties:
            notes:
              type: ["string", "null"]
            listIds:
              type: array
              items:
                type: string
                format: uuid
    ContactTimelineItem:
      type: object
      required: [id, kind, title, summary, occurredAt, ref]
      properties:
        id:
          type: string
        kind:
          type: string
          description: "The kind of line (order, ticket, call, ...). The app only uses it to pick an icon; unknown kinds are fine."
        title:
          type: string
        summary:
          type: ["string", "null"]
        occurredAt:
          type: string
          description: Opaque timestamp (ISO 8601).
        ref:
          type: ["string", "null"]
          description: A human number such as an order number.
    ContactTimelinePage:
      type: object
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ContactTimelineItem"
        nextCursor:
          type: ["string", "null"]
    ContactLookup:
      type: object
      required: [contact, ambiguous, doNotContact, counters, timeline]
      properties:
        contact:
          oneOf:
            - $ref: "#/components/schemas/ContactItem"
            - type: "null"
        ambiguous:
          type: boolean
        doNotContact:
          type: boolean
        counters:
          type: object
          required: [openRequests, openOrders]
          properties:
            openRequests:
              type: integer
              minimum: 0
            openOrders:
              type: integer
              minimum: 0
        timeline:
          type: array
          items:
            $ref: "#/components/schemas/ContactTimelineItem"
    ContactsPage:
      type: object
      required: [contacts, deleted, nextCursor, serverTime]
      properties:
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/ContactItem"
        deleted:
          type: array
          items:
            type: string
            format: uuid
        nextCursor:
          type: ["string", "null"]
        serverTime:
          type: string
          description: "The same on every page of one run; keep it as the next `since` after the last page. Opaque ISO 8601 timestamp."
    ContactDetailResponse:
      type: object
      required: [contact]
      properties:
        contact:
          $ref: "#/components/schemas/ContactDetailItem"
    ContactUpdateResponse:
      type: object
      required: [contact, changed]
      properties:
        contact:
          $ref: "#/components/schemas/ContactDetailItem"
        changed:
          type: boolean
    ContactDeleteResponse:
      type: object
      required: [deleted]
      properties:
        deleted:
          type: integer
    ContactLists:
      type: object
      required: [lists]
      properties:
        lists:
          type: array
          items:
            type: object
            required: [id, name, version, contactCount]
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              version:
                type: integer
              contactCount:
                type: integer
    ContactListSnapshot:
      type: object
      required: [list, contacts, nextCursor]
      properties:
        list:
          type: object
          required: [id, name, version]
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            version:
              type: integer
        contacts:
          type: array
          items:
            type: object
            required: [id, name, phones]
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              company:
                type: ["string", "null"]
              phones:
                type: array
                items:
                  type: object
                  required: [number, label]
                  properties:
                    number:
                      type: string
                    label:
                      type: string
              email:
                type: ["string", "null"]
        nextCursor:
          type: ["string", "null"]
    ContactCreateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        firstName:
          type: ["string", "null"]
        lastName:
          type: ["string", "null"]
        company:
          type: ["string", "null"]
        email:
          type: ["string", "null"]
        notes:
          type: ["string", "null"]
        phones:
          type: array
          items:
            $ref: "#/components/schemas/ContactPhone"
        tags:
          type: array
          items:
            type: string
        listIds:
          type: array
          items:
            type: string
            format: uuid
    ContactUpdateRequest:
      type: object
      additionalProperties: false
      required: [expectedUpdatedAt]
      properties:
        expectedUpdatedAt:
          type: string
          format: date-time
          description: The `updatedAt` the app showed. Required; another value is `409 stale`.
        name:
          type: string
        firstName:
          type: ["string", "null"]
        lastName:
          type: ["string", "null"]
        company:
          type: ["string", "null"]
        email:
          type: ["string", "null"]
        notes:
          type: ["string", "null"]
        phones:
          type: array
          items:
            $ref: "#/components/schemas/ContactPhone"
        tags:
          type: array
          items:
            type: string
        listIds:
          type: array
          items:
            type: string
            format: uuid
    Platform:
      type: string
      enum: [ios, android]
    PushKind:
      type: string
      enum: [apns_voip, fcm]
      description: "`apns_voip` is iOS PushKit, `fcm` is Firebase Cloud Messaging (Android)."
    PushEnv:
      type: string
      enum: [production, sandbox]
      description: APNs environment of the build that registered the token.
    Transport:
      type: string
      enum: [udp, tcp, tls]
    PairRequest:
      type: object
      additionalProperties: false
      required: [token, device]
      properties:
        token:
          type: string
          pattern: "^fss_vpair_[A-Za-z0-9_-]{43}$"
        device:
          $ref: "#/components/schemas/DeviceInfo"
    DeviceInfo:
      type: object
      additionalProperties: false
      required: [platform]
      properties:
        platform:
          $ref: "#/components/schemas/Platform"
        model:
          type: string
          maxLength: 64
          description: Hardware model, for the portal's device list.
        osVersion:
          type: string
          maxLength: 32
        appVersion:
          type: string
          maxLength: 32
        sipInstanceId:
          type: string
          description: "RFC 5626 `+sip.instance` value (`urn:uuid:...`). Stored for later use."
          examples: ["urn:uuid:7d2f6c1a-3b4e-4c58-9f10-5a6e8b0c2d34"]
        installId:
          type: string
          pattern: "^[a-f0-9]{8,32}$"
          description: |
            Stable id of this installation (8-32 hex characters). It becomes the Contact URI parameter
            `fss-dev=<installId>` that the PBX push gate uses to recognise this app. If omitted the
            server generates one and returns it in `device.installId`.
        pushToken:
          type: string
          description: PushKit token (iOS, hex, lowercase) or FCM token (Android).
        pushKind:
          $ref: "#/components/schemas/PushKind"
        pushEnv:
          $ref: "#/components/schemas/PushEnv"
        alertPushToken:
          type: string
          pattern: "^[a-fA-F0-9]{64,200}$"
          description: iOS only. Regular APNs token for non-call notices.
    PairResponse:
      type: object
      required: [deviceToken, device, account, sip, contacts]
      properties:
        deviceToken:
          type: string
          pattern: "^fss_vapp_[A-Za-z0-9_-]{43}$"
          description: Store in the Keychain/Keystore. Shown only here.
        device:
          type: object
          required: [id, installId]
          properties:
            id:
              type: string
              format: uuid
            installId:
              type: string
              pattern: "^[a-f0-9]{8,32}$"
        account:
          $ref: "#/components/schemas/Account"
        sip:
          $ref: "#/components/schemas/SipCredentials"
        contacts:
          $ref: "#/components/schemas/ContactsInfo"
    Account:
      type: object
      required: [id, label, pbxName, extensionName, extensionNumber, customerName]
      properties:
        id:
          type: string
          format: uuid
          description: The id of this app pairing (equals `device.id`). Used by pushes as `accountId`.
        label:
          type: string
          description: "What the app shows: the alias if set, otherwise `<pbxName> · <extensionName>`."
        labelOverride:
          type: ["string", "null"]
          description: The alias chosen on the phone. Only present in `GET /me`.
        pbxName:
          type: string
        extensionName:
          type: string
        extensionNumber:
          type: ["string", "null"]
        customerName:
          type: string
    SipCredentials:
      type: object
      required: [username, password, domain, proxy, port, transport, srv]
      properties:
        username:
          type: string
        password:
          type: string
          description: The SIP password. Returned once, in the `POST /pair` response only. Never log it.
        domain:
          type: string
          description: SIP domain of the PBX tenant, e.g. `acme.powervoip.nl`. Use as the registrar domain / realm.
        proxy:
          type: string
          description: Outbound proxy host, e.g. `sip.powervoip.nl`. Do NOT use as the domain.
        port:
          type: integer
          minimum: 1
          maximum: 65535
        transport:
          $ref: "#/components/schemas/Transport"
        srv:
          type: boolean
          const: true
          description: DNS SRV records exist for the proxy; resolve them for failover between PBX nodes.
    SipServer:
      type: object
      required: [domain, proxy, port, transport, srv]
      description: The same as `SipCredentials` but without `username` and `password`.
      properties:
        domain:
          type: string
        proxy:
          type: string
        port:
          type: integer
        transport:
          $ref: "#/components/schemas/Transport"
        srv:
          type: boolean
          const: true
    ContactsInfo:
      type: object
      required: [internal, listsAvailable]
      properties:
        internal:
          type: boolean
          const: true
          description: Internal contacts (the other extensions of this PBX) are available via `GET /me`.
        listsAvailable:
          type: integer
          minimum: 0
          description: Number of customer contact lists in the portal (`GET /contact-lists`).
        total:
          type: integer
          minimum: 0
          description: "Number of customer contacts (`GET /contacts`). Only in `GET /me`."
    MeResponse:
      type: object
      required: [account, sip, internal, contacts, push, serverTime]
      properties:
        account:
          $ref: "#/components/schemas/Account"
        sip:
          description: "`null` when the PBX connection details are not available right now."
          oneOf:
            - $ref: "#/components/schemas/SipServer"
            - type: "null"
        internal:
          type: array
          maxItems: 500
          items:
            $ref: "#/components/schemas/InternalContact"
        contacts:
          $ref: "#/components/schemas/ContactsInfo"
        push:
          $ref: "#/components/schemas/PushStatus"
        serverTime:
          type: string
          format: date-time
        role:
          $ref: "#/components/schemas/Role"
        capabilities:
          $ref: "#/components/schemas/Capabilities"
        pbx:
          $ref: "#/components/schemas/PbxStatus"
    InternalContact:
      type: object
      required: [number, name]
      properties:
        number:
          type: string
        name:
          type: string
    PushStatus:
      type: object
      required: [registered, kind, env, invalid]
      properties:
        registered:
          type: boolean
        kind:
          oneOf:
            - $ref: "#/components/schemas/PushKind"
            - type: "null"
        env:
          oneOf:
            - $ref: "#/components/schemas/PushEnv"
            - type: "null"
        invalid:
          type: boolean
          description: The push service rejected the token; the app must re-register it (`PUT /push-token`).
    MePatchRequest:
      type: object
      additionalProperties: false
      required: [labelOverride]
      properties:
        labelOverride:
          type: ["string", "null"]
          maxLength: 60
          description: The alias. `null` or an empty string clears it.
    MePatchResponse:
      type: object
      required: [label, labelOverride]
      properties:
        label:
          type: string
        labelOverride:
          type: ["string", "null"]
    PushTokenUpdate:
      type: object
      additionalProperties: false
      properties:
        pushKind:
          $ref: "#/components/schemas/PushKind"
        pushToken:
          type: ["string", "null"]
          description: Omit, `null` or empty to unregister push for this installation.
        pushEnv:
          $ref: "#/components/schemas/PushEnv"
        alertPushToken:
          type: ["string", "null"]
          description: iOS only.
    OkResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          const: true
    SelfNumber:
      type: object
      required: [id, number, isDefault]
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
          description: National, without country code (`0850607848`).
        name:
          type: ["string", "null"]
        isDefault:
          type: boolean
          description: The default number of the PBX.
    SelfExtension:
      type: object
      required: [id, name, dnd, noAnswerSeconds, voicemailEnabled, voicemailToEmail, sync, version, numbers, targets]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        extension:
          type: ["string", "null"]
        dnd:
          type: boolean
        forwardAlways:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        noAnswerSeconds:
          type: integer
        noAnswerTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        voicemailEnabled:
          type: boolean
        voicemailToEmail:
          type: boolean
        email:
          type: ["string", "null"]
        sync:
          $ref: "#/components/schemas/SyncState"
        version:
          type: integer
          minimum: 1
        numbers:
          type: array
          items:
            $ref: "#/components/schemas/SelfNumber"
        defaultNumber:
          type: ["string", "null"]
          description: The number this extension calls out with by default (its own choice in the portal, else the default number of the PBX).
        targets:
          type: array
          description: Where a call may be forwarded to (a colleague, a ring group, a voicemail box, an external number). Never the extension itself.
          items:
            $ref: "#/components/schemas/TargetOption"
    SelfExtensionPatch:
      type: object
      additionalProperties: false
      required: [version]
      minProperties: 2
      properties:
        version:
          type: integer
          minimum: 1
        dnd:
          type: boolean
        forwardAlways:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        noAnswerSeconds:
          type: integer
          minimum: 5
          maximum: 120
        noAnswerTarget:
          oneOf: [{ $ref: "#/components/schemas/Target" }, { type: "null" }]
        voicemailEnabled:
          type: boolean
        voicemailToEmail:
          type: boolean
        email:
          type: ["string", "null"]
    SelfExtensionPatchResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          const: true
        extension:
          $ref: "#/components/schemas/SelfExtension"
    ChainMode:
      type: string
      enum: [simple, advanced]
      description: "`advanced` = more than the app can show as a chain: read-only, only the name can be changed."
    ForwardingKind:
      type: string
      enum: [standard, menu, advanced]
    PbxNumberEntry:
      type: object
      required: [id, number, mode, summary, sync, version]
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
        name:
          type: ["string", "null"]
        mode:
          $ref: "#/components/schemas/ChainMode"
        summary:
          type: object
          required: [hours, welcome, forwarding, recording]
          properties:
            hours:
              type: string
              description: A label in the language of the server ("ma-vr 9:00-17:00", "Uit").
            welcome:
              type: boolean
            forwarding:
              $ref: "#/components/schemas/ForwardingKind"
            recording:
              type: boolean
        sync:
          $ref: "#/components/schemas/SyncState"
        version:
          type: integer
          minimum: 1
    PbxNumbersPage:
      type: object
      required: [numbers]
      properties:
        numbers:
          type: array
          items:
            $ref: "#/components/schemas/PbxNumberEntry"
    Fallback:
      description: |
        What happens when it is closed or nobody answers. `other` is something the chain has no choice for: it decodes (and is shown as
        read-only text) but is never sent back. A mode this app version does not know must be treated like `other`.
      oneOf:
        - type: object
          required: [mode]
          properties:
            mode:
              const: voicemail
            boxId:
              type: ["string", "null"]
            ofDevice:
              type: boolean
              description: The voicemail of an extension (as opposed to a shared mailbox). Display only.
        - type: object
          required: [mode, soundId]
          properties:
            mode:
              const: message
            soundId:
              type: string
              format: uuid
        - type: object
          required: [mode, number]
          properties:
            mode:
              const: forward
            number:
              type: string
        - type: object
          required: [mode]
          properties:
            mode:
              const: hangup
        - type: object
          required: [mode, deviceId]
          properties:
            mode:
              const: device
            deviceId:
              type: string
              format: uuid
        - type: object
          required: [mode]
          properties:
            mode:
              const: other
            target:
              $ref: "#/components/schemas/Target"
    FallbackInput:
      description: "A `Fallback` the app may send. `mode: other` is not allowed (`400`)."
      oneOf:
        - type: object
          additionalProperties: false
          required: [mode]
          properties:
            mode:
              const: voicemail
            boxId:
              type: ["string", "null"]
              description: Left out = the shared voicemail box of the PBX.
        - type: object
          additionalProperties: false
          required: [mode, soundId]
          properties:
            mode:
              const: message
            soundId:
              type: string
              format: uuid
        - type: object
          additionalProperties: false
          required: [mode, number]
          properties:
            mode:
              const: forward
            number:
              type: string
        - type: object
          additionalProperties: false
          required: [mode]
          properties:
            mode:
              const: hangup
        - type: object
          additionalProperties: false
          required: [mode, deviceId]
          properties:
            mode:
              const: device
            deviceId:
              type: string
              format: uuid
    ChainHolidayDate:
      type: object
      additionalProperties: false
      required: [name, date]
      properties:
        name:
          type: string
        date:
          type: string
          description: "`YYYY-MM-DD`."
    ChainHolidays:
      type: object
      required: [national, rules, dates]
      properties:
        national:
          type: boolean
          description: All Dutch national holidays use the "closed" behaviour.
        rules:
          type: array
          description: The fixed holidays that are on (see `holidayRules` of `GET /pbx/hours`).
          items:
            type: string
        dates:
          type: array
          items:
            $ref: "#/components/schemas/ChainHolidayDate"
    ChainHolidaysInput:
      type: object
      additionalProperties: false
      properties:
        national:
          type: boolean
        rules:
          type: array
          maxItems: 100
          items:
            type: string
        dates:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/ChainHolidayDate"
    ChainHours:
      type: object
      required: [id, version, week, holidays, closed]
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          minimum: 1
        week:
          type: array
          items:
            $ref: "#/components/schemas/HoursWeekEntry"
        holidays:
          $ref: "#/components/schemas/ChainHolidays"
        closed:
          $ref: "#/components/schemas/Fallback"
        holiday:
          description: "`null` = on a holiday the same as outside opening hours."
          oneOf: [{ $ref: "#/components/schemas/Fallback" }, { type: "null" }]
        sharedWith:
          type: array
          description: Labels of the other numbers that use the same opening hours.
          items:
            type: string
    ChainWelcome:
      type: object
      required: [menuId, version]
      properties:
        menuId:
          type: string
          format: uuid
        version:
          type: integer
          minimum: 1
        soundId:
          type: ["string", "null"]
        sharedWith:
          type: array
          items:
            type: string
    ChainMember:
      type: object
      additionalProperties: false
      required: [deviceId]
      properties:
        deviceId:
          type: string
          format: uuid
        delaySeconds:
          type: integer
          minimum: 0
        timeoutSeconds:
          type: integer
          minimum: 1
    ChainKey:
      type: object
      required: [digit, target]
      properties:
        digit:
          type: string
          description: "`0`-`9`, `*` or `#`."
        target:
          $ref: "#/components/schemas/Target"
        editable:
[...]
